:root {
  --bg-body-color: #F3F3E3;
  --dark: #111827;
  --white: #FFFFFF;
  --gray: #9CA3AF;
  --primary: #FC6C4C;
  --secondary: #E5E7EB;

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.site-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-body-color);
}

.header {
  color: var(--dark);
  text-align: center;
  margin-bottom: 32px;
}

.header-container {
  width: 580px;
  margin: 0 auto;
}

.title {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 14px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.main {
  max-width: 640px;
  width: 640px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 32px 0;
}

.form-steps {
  padding: 0 48px 32px 48px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.btn-step {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  border: none;
  background: var(--secondary);
  color: var(--dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.btn-step:hover {
  background: var(--primary);
  color: var(--white);
  opacity: .7;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background: var(--primary);
  color: var(--white);
  opacity: 1;
  box-shadow: 0px 0px 10px -1px #cb5f49;
  transition: all ease-in .5s;
}

.decoration-line {
  width: 100px;
  height: 6px;
  background: var(--secondary);
  border-radius: 50px;
  border: none;
}